@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
$font-title       : 'Exo',
sans-serif;
$font-w-title: 700;
$font-s-title: 3.2rem;
$black       : rgb(31, 30, 30);
$white       : rgb(226, 226, 226);
$yellow-bg   :#fff476;
$gray        : #555;

* {
    margin : 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display           : grid;
    grid-template-rows: 1fr 2fr 1fr;
    min-width         : 425px;
    height            : 100vh;
}

.audio__container {
    grid-row        : 2 / 3;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : 20px;
    background-color: $gray;
    border-radius   : 25px;
    margin          : auto;
    padding         : 20px 10px;
    width           : 80%;
}

.audio__container--title {
    background-color: $yellow-bg;
    border          : 1px $black solid;
    border-radius   : 25px;
    color           : $black;
    font-family     : $font-title;
    font-weight     : $font-w-title;
    font-size       : $font-s-title;
    padding         : 10px 20px;
    text-decoration : none;
}

.audio__container--player {
    filter: invert(100%);
}

.bx__container {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items        : center;
    height               : auto;
    width                : 100%;
    color                : $white;

    .bx {
        width           : min-content;
        padding         : 15px;
        font-size       : $font-s-title;
        background-color: $black;
        border-radius   : 50px;

        &:active {
            background-color: $yellow-bg;
        }
    }
}

.reconect-container-disable {
    display: none;
}

.reconect-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : $font-s-title;
    font-family    : $font-title;
    font-weight    : $font-w-title;
    color          : $white;

    .bx-spin {
        margin-right: 20px;
    }
}

#parrafo-events {
    color      : $white;
    font-family: $font-title;
    font-size  : $font-s-title - 1;
    font-weight: $font-w-title;
    filter     : opacity(70%);
}
#slider-container {
    width: 80%;
}

#slider {
    -webkit-appearance: none;
    margin            : 10px 0;
    width             : 100%;
    border-radius: 10px;
}

// #slider:focus {
//     outline: none;
// }

#slider::-webkit-slider-runnable-track {
    width        : 100%;
    height       : 5px;
    // cursor       : pointer
    background   : #B6B6B6;
    border-radius: 25px;
}

#slider::-webkit-slider-thumb {
    height            : 5px;
    width             : 15px;
    background        : $yellow-bg;
    cursor            : pointer;
    -webkit-appearance: none;
    border-radius: 10px;
}

// #slider:focus::-webkit-slider-runnable-track {
//     background: #B6B6B6;
// }

// #slider::-moz-range-track {
//     width        : 100%;
//     height       : 16px;
//     cursor       : pointer;
//     box-shadow   : 0px 0px 0px #000000;
//     background   : $yellow-bg;
//     border-radius: 25px;
//     border       : 1px solid #8A8A8A;
// }

// #slider::-moz-range-thumb {
//     box-shadow   : 1px 1px 1px $yellow-bg;
//     border       : 1px solid $yellow-bg;
//     height       : 24px;
//     width        : 35px;
//     border-radius: 6px;
//     background   : $yellow-bg;
//     cursor       : pointer;
// }

// #slider::-ms-track {
//     width       : 100%;
//     height      : 16px;
//     cursor      : pointer;
//     background  : $yellow-bg;
//     border-color: transparent;
//     color       : $yellow-bg;
// }

// #slider::-ms-fill-lower {
//     background   : #B6B6B6;
//     border       : 1px solid #8A8A8A;
//     border-radius: 50px;
//     box-shadow   : 0px 0px 0px #000000;
// }

// #slider::-ms-fill-upper {
//     background   : #B6B6B6;
//     border       : 1px solid #8A8A8A;
//     border-radius: 50px;
//     box-shadow   : 0px 0px 0px #000000;
// }

// #slider::-ms-thumb {
//     margin-top   : 1px;
//     box-shadow   : 1px 1px 1px #828282;
//     border       : 1px solid #8A8A8A;
//     height       : 24px;
//     width        : 35px;
//     border-radius: 6px;
//     background   : #d31e1e;
//     cursor       : pointer;
// }

// #slider:focus::-ms-fill-lower {
//     background: #B6B6B6;
// }

// #slider:focus::-ms-fill-upper {
//     background: #B6B6B6;
// }