@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
$font-title       : 'Exo',sans-serif;
$font-w-title: 700;
$font-s-title: 2.5rem;
$font-s-text : $font-s-title - 1;
$font-s-btn  : 3.5rem;
$black       : rgb(31, 30, 30);
$white       : rgb(255, 255, 255);
$yellow-bg   :#fff476;
$gray        : #555;

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow : hidden;
    height   : 100vh;
}

body {
    min-width : 320px;
    height    : inherit;
    background: linear-gradient(180deg, #9b923a 0%, rgba(0, 0, 0, 1) 80%);
}

.audio__container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 2.5vh;
    height        : 95vh;
    padding       : 0 10px 0;
}

.audio__container--title h1 {
    color          : $white;
    font-family    : $font-title;
    font-weight    : $font-w-title;
    font-size      : $font-s-title;
    text-decoration: none;
}

.audio__container--img {
    width           : 65%;
    padding-block   : 3vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.bx__container {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    place-items          : center;
    height               : auto;
    width                : 100%;
    color                : $white;

    .bx {
        font-size    : $font-s-btn;
        border-radius: 50px;

        &:active {
            background-color: $yellow-bg;
        }

    }

    .bx-play,
    .bx-pause {
        background-color: white;
        color           : black;
        font-size       : $font-s-btn + 3;
        padding         : 10px;
    }
}

.reconect-container-disable {
    display: none;
}

.reconect-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : $font-s-text;
    font-family    : $font-title;
    font-weight    : $font-w-title;
    color          : $white;

    .bx-spin {
        margin-right: 20px;
        font-weight : $font-w-title;
    }
}

#slider-container {
    width     : 80%;
    text-align: center;

    p {
        color      : $white;
        font-size  : $font-s-text;
        font-family: $font-title;

    }
}

#slider {
    -webkit-appearance: none;
    margin            : 10px 0;
    width             : 100%;
    border-radius     : 10px;
}

#slider::-webkit-slider-runnable-track {
    width        : 100%;
    height       : 5px;
    background   : #B6B6B6;
    border-radius: 25px;
}

#slider::-webkit-slider-thumb {
    height            : inherit;
    width             : 20px;
    background        : $yellow-bg;
    cursor            : pointer;
    -webkit-appearance: none;
    border-radius     : 10px;
}


.status-container-disable {
    display: none;
}


.status-error,
.status-correct,
.status-alert {
    display        : flex;
    color          : $white;
    font-family    : $font-title;
    font-size      : $font-s-title - 1;
    font-weight    : $font-w-title;
    filter         : opacity(50%);
    justify-content: center;
    align-items    : center;
    gap            : 10px;
}